p{line-height: 125%;
   color: #131;
}

body{background: #eeffcc;
     font-family: arial;}

footer{color: white;
       text-align: center; background:#363;
       margin-top:1em; }

.my-info{background: #c0d8FF;
         padding: 1em;
}

a.absent{color:red; }

a.top-link{display:inline;
           background:black;
           color:white;
           width:5em;}

div.system-detail{
                  margin-bottom:1em;}

.system-name {display:inline;
              margin-left:1em;}

.absent-system{border:solid red 1px;}
.installed-system{border: solid green 1px;}

.header {background: white;
         height: 1.5em;
        }

.clearfix{
  clear:both
}
